{% extends "base.html" %}
{% load static %}
{% block title %}{{ category_name }}{% endblock %}
{% block content %}


<main>
  <div class="album py-5 bg-light">
    <div class="container">

        <div class="pb-3 h5">
            {{ category_name }}
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
       

        {% for product in products %}

        <div class="col d-flex">
          <div class="card shadow-sm">
            <a href="{{ product.get_absolute_url }}"><img style="
                min-height: 280px;
                min-width: 100%;
                object-fit: cover;
                border-radius: 3px;
            "
            class="img-fluid" alt="Responsive image" src="{{ product.image.url }}"></a>
            <div class="card-body">
                <p class="card-text">
                  {% if product.title|length <= 15 %}
                  <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                      <b>{{ product.title }}</b>
                  </a>
                  {% else %}
                  <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}"><b>{{ product.title|slice:":15" }}...</b></a>
                  {% endif %}
  
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{product.author}}</small>
                </div>
              </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}