{% extends "../sub_base.html" %}
{% block title %}Update Account Info{% endblock %}

{% load crispy_forms_tags  %}

{% block sub_content %}
<h3 class="mb-3 fw-bold">Enter new data and save changes</h3>
<form method="POST" lass="account-form px-4 pt-2" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Save changes">
    Save Changes
  </button>
</form>

<hr>

<form class="account-form px-4" action="{% url 'account:deactivate' %}" method="post">
  {% csrf_token %}
  <p class=" h3 pt-4 font-weight-bold">Deactivate Account</p>
  <p>Are you sure you want to deactivate your account?</p>
  <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Deactivate</button>
</form>

{% endblock %}