{% extends "base.html" %}
{% block title %}
{{ category_name }}
{% endblock %}



{% block content %}
<main class="mt-2 pt-2">
<div class="container" style="max-width: 1000px">
  <div class="col-12">
    <h1 class="h2 fw-bold">{{ category_name }}</h1>
  </div>
  <div class="col-12 d-flex justify-content-between">
    {% if not products %}
    <div class="pb-3 h5">There are currently no products active</div>
    {% else %}
    <div><b>Popular</b> products purchased</div>
  </div>
  <hr />
</div>
<div class="container">


    <div class="row">
        <div class="album">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in products %}
            <div class="col">
              <div class="card border-0">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">

                  {% for image in product.product_image.all %}
                  <img class='shadow card-img-top' alt="Responsive image" src="{{ image.image.url }}"
                    alt="{{ image.image.alt_text }}">
                  {% endfor %}

                  <div class="card-body px-0 text-center">
                <p class="card-title">
                  
                  {% if product.title|length >= 25 %}
                  {{ product.title|slice:":25" }}...
                  {% else %}
                  {{ product.title }}
                  {% endif %}
                    
                  
                </p>
              </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    
    
  </div>
  {% endif %}
</main>
{% endblock %}