{% extends "base.html" %}
{% block title %}
{{ category_name }}
{% endblock %}



{% block content %}
<div class="container" style="max-width: 1000px">
  <div class="col-12">
    <h1 class="h2 fw-bold">{{ category_name }}</h1>
  </div>
  <div class="col-12 d-flex justify-content-between">
    <div><b>Popular</b> products purchased</div>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row">
    <div class="album">
      {% if not products %}
      <div class="col-12">There are currently no products active <a href="{% url 'store:home' %}">Home</a></div>
      {% else %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for product in products %}
        <div class="col d-flex">
          <div class="card shadow-sm">

            {% for image in product.product_image.all %}
                {% if image.is_feature %}
                    <a href="{{ product.get_absolute_url }}">
                    <img style="min-height: 280px;
                                max-height: 300px;
                                min-width: 100%;
                                object-fit: cover;
                                border-radius: 2px;" 
                         class="img-fluid" alt="{{image.image.alt_text}}" src="{{ image.image.url }}"></a>
                {% endif %}
            {% endfor %}
            
            <div class="card-body">
              <p class="card-text">
                {% if product.title|length <= 15 %}
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                  <b>{{ product.title }}</b>
                </a>
                {% else %}
                <a class="text-dark text-decoration-none"
                  href="{{ product.get_absolute_url }}"><b>{{ product.title|slice:":15" }}...</b></a>
                {% endif %}
  
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{product.author}}</small>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}