{% extends "base.html" %}
{% block title %}BookStore - Low Price in Books & More {% endblock %}



{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-1">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
        etc. Make it short and sweet, but not too short so folks do not simply skip over it entirely.</p>
      <p> -->
        <a href="{% url 'account:signup' %}" class="btn btn-primary my-2 mt-4">Make an account</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    {% if not products %}
    <div class="pb-3 h5">There are currently no products active</div> 
    {% else %}
    <div class="pb-3 fw-bold h5">Recently added books</div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
    {% for product in products %}
      <div class="col d-flex">
        <div class="card shadow-sm">
          <a href="{{ product.get_absolute_url }}">
            <img style="
                        min-height: 280px;
                        max-height: 300px;
                        min-width: 100%;
                        object-fit: cover;
                        border-radius: 3px;
                        " class="img-fluid" alt="Responsive image" src="{{ product.image.url }}"></a>
          <div class="card-body">
            <p class="card-text">
              {% if product.title|length <= 15 %}
              <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                <b>{{ product.title }}</b>
              </a>
              {% else %}
              <a class="text-dark text-decoration-none"
                href="{{ product.get_absolute_url }}"><b>{{ product.title|slice:":15" }}...</b></a>
              {% endif %}

              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{product.author}}</small>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}